<body>
	<style>
.title-color {
background-color: #fb3f00;
}
</style>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
	<div class="title-color"style="backgroud-color: #fb3f00">
        <h3 class="SUBHEAD-2" style="color: white; margin-right: auto; margin-left: 10%">ACHIEVABLE</h3>
        </div>
 
      <div class="mdl-card__supporting-text">
        <input type="checkbox" class="read-more-state" id="post-1" />

        <p class="read-more-wrap">A goal must be achievable. <span class="read-more-target">This means that your goal is realistic and can be attained. If a goal is out of your reach, then it's meaningless. An achievable goal gives you the knowing that it can be done and there are no major restraints for it.</span></p>
        <label for="post-1" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored  read-more-trigger"></label>
      </div>
      <div style="padding-top: 10px;padding-bottom: 10px">
        <table align="center">
          <tbody>
		     <tr>
              <td id="test">
			   <h3 style="text-align: center">
				Is your goal achievable?
			   </h3>
              </td>
            </tr>
            <tr>
              <td id="test">
			   <form>
			    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect menu-buttons"  ng-click="goTo('#/relevant/')">
				yes
				</button>
			   </form>
              </td>
             </tr>
            <tr>
              <td id="test">
			   <form>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect menu-buttons" ng-click="goTo('#/specific/')">
				no
				</button>
			   </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="mdl-card__menu">
        <div class = "dropdown">
         <a id = "dLabel" role = "button" class="glyphicon glyphicon-align-justify" data-toggle = "dropdown" data-target = "#" href = "/page.html"></a>
         <ul class = "dropdown-menu pull-right" role = "menu" aria-labelledby = "dLabel">
            <li><a class="dropdown-item">Logged in as Ragnar Luga</a></li>
            <li><a href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
         </ul>
      </div>
    </div>
  </body>
